<!DOCTYPE html>
<html>
<head>
    <title>Artikel</title>
    <link rel="icon" href="../static/assets/logo1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <style>
        /* CSS khusus untuk halaman About */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #33ccff, #ff99cc);
            background-size: 400% 400%;
            animation: gradientAnimation 15s ease infinite;
        }

        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        h1 {
            color: white;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mt-5">Berita Hoaks Terkait</h1>
                <hr>
                <p>Akun Facebook Mengatasnamakan Kepala Dinas Pendidikan Kabupaten Garut.<a href="https://www.kominfo.go.id/content/detail/49353/hoaks-akun-facebook-mengatasnamakan-kepala-dinas-pendidikan-kabupaten-garut/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Aplikasi Mobile Banking Mengatasnamakan Bank Syariah Indonesia. <a href="https://www.kominfo.go.id/content/detail/49354/hoaks-aplikasi-mobile-banking-mengatasnamakan-bank-syariah-indonesia/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Lowongan Kerja Mengatasnamakan Kebun Binatang Bandung. <a href="https://www.kominfo.go.id/content/detail/49356/hoaks-lowongan-kerja-mengatasnamakan-kebun-binatang-bandung/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Vaksin Covid-19 Dapat Menyebabkan Kerusakan Otak Jangka Panjang. <a href="https://www.kominfo.go.id/content/detail/49357/disinformasi-vaksin-covid-19-dapat-menyebabkan-kerusakan-otak-jangka-panjang/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <P>Johnny G. Plate Dituntut Hukuman Mati Oleh Presiden Joko Widodo. <a href="https://www.kominfo.go.id/content/detail/49358/hoaks-johnny-g-plate-dituntut-hukuman-mati-oleh-presiden-joko-widodo/0/laporan_isu_hoaks">Baca selengkapnya</a></P>
                <p>Surya Paloh Ditetapkan sebagai Tersangka Baru Kasus Dugaan Korupsi BTS 4 G. <a href="https://www.kominfo.go.id/content/detail/49359/hoaks-surya-paloh-ditetapkan-sebagai-tersangka-baru-kasus-dugaan-korupsi-bts-4g/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Dokter Asal Cina Diselundupkan ke Pelabuhan-pelabuhan Indonesia Untuk Melakukan Pembunuhan Massal. <a href="https://www.kominfo.go.id/content/detail/49360/disinformasi-dokter-asal-cina-diselundupkan-ke-pelabuhan-pelabuhan-indonesia-untuk-melakukan-pembunuhan-massal/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Departemen Pertanian Amerika Serikat Menguji Vaksin Mrna dalam Daging dan Unggas. <a href="https://www.kominfo.go.id/content/detail/49361/disinformasi-departemen-pertanian-amerika-serikat-menguji-vaksin-mrna-dalam-daging-dan-unggas/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Presiden Jokowi Usir Prabowo dari Istana Negara. <a href="https://www.kominfo.go.id/content/detail/48833/hoaks-presiden-jokowi-usir-prabowo-dari-istana-negara/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Narasi Tito Karnavian Berideologi Komunis Karena Pernah Disekolahkan Partai Komunis China di Beijing. <a href="https://www.kominfo.go.id/content/detail/27838/hoaks-tito-karnavian-berideologi-komunis/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Anies: Seberat beratnya Pekerjaan Akan terasa ringan Bila tidak di kerjakan. <a href="https://www.medcom.id/telusur/cek-fakta/GNGWP6AN-cek-fakta-anies-seberat-apapun-pekerjaan-akan-terasa-ringan-jika-tidak-dikerjakan-ini-faktanya">Baca selengkapnya</a></p>
                <p>Hindu di india Melemparkan Patung Buatan Mereka Ke Laut Karena Tidak Bisa Menolong Mereka Dari Corona. <a href="https://covid19.go.id/p/hoax-buster/salah-hindu-di-india-melemparkan-patung-buatan-mereka-ke-laut-karena-tidak-bisa-menolong-mereka-dari-corona">Baca selengkapnya</a></p>
                <p>RSCM Praktekkan Penyedotan Plug Vena/Saluran Darah. <a href="https://www.kominfo.go.id/content/detail/17013/disinformasi-mulai-hari-ini-di-rscm-mulai-dipraktekkan-penyedotan-plug-sumbatan-di-venasaluran-darah-ke-jantung/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Permohonan Kelonggaran Angsuran ke OJK. <a href="https://covid19.go.id/artikel/2020/05/01/salah-permohonan-kelonggaran-angsuran-ke-ojk">Baca selengkapnya</a> </p>
                <p>Aksi BEM se-Jabotabek hari ini. <a href="https://turnbackhoax.id/2018/09/15/salah-aksi-bem-se-jabotabek-hari-ini/">Baca selengkapnya</a></p>
                <p>Sinar Kosmik Berbahaya Radiasi. <a href="https://turnbackhoax.id/2017/03/18/hoax-sinar-kosmik-berbahaya-radiasi/">Baca selengkapnya</a></p>
                <p>Pihak SMKN 12 Beri Klarifikasi Perihal Kabar Viral Tak Pasang Foto Presiden Joko Widodo. <a href="https://www.kominfo.go.id/content/detail/23502/disinformasi-smkn-12-jakarta-utara-tidak-pasang-foto-presiden/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Pembuatan KTP Orang Gila Demi Ambisi Kekuasaan. <a href="https://www.kominfo.go.id/content/detail/17912/hoaks-pembuatan-ktp-orang-gila-demi-ambisi-kekuasaan/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Daniel Radcliffe Positiv Terinfeksi Corona Covid-19. <a href="https://www.buzzfeednews.com/article/janelytvynenko/daniel-radcliffe-does-not-have-coronavirus">Baca selengkapnya</a></p>
                <p>Big Data Cyber Security Indonesia sudah terpasang. <a href="https://www.kominfo.go.id/content/detail/8304/hoax-pesan-berantai-pengambilan-informasi-melalui-system-big-data-cyber-security-bdcs-indonesia/0/berita_satker">Baca selengkapnya</a></a></p>
                <p>Merakyatnya Jokowi - Jusuf Kalla, Ternyata Cuma Adegan di Depan Kamera Saja.<a href="https://www.kominfo.go.id/content/detail/49619/disinformasi-jusuf-kalla-ditangkap-karena-kritik-presiden-joko-widodo/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>SMS Hadiah Lazada Birthday. <a href="https://www.kominfo.go.id/content/detail/17543/hoaks-galeri-pemenang-undian-lazada/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>AFI NIHAYA FARADISA LAKUKAN PLAGIAT. <a href="https://turnbackhoax.id/2017/06/09/hoax-afi-nihaya-faradisa-lakukan-plagiat/">Baca selengkapnya</a></p>
                <p>Sebuah Akun Facebook Minta Donasi Untuk Anak Penderita Kanker Tulang. <a href="https://turnbackhoax.id/2018/06/07/salah-sebuah-akun-facebook-minta-donasi-untuk-anak-penderita-kanker-tulang/">Baca selengkapnya</a></p>
                <p>Nusron Wahid Siap Diludahi Jika Peserta Aksi 212 Lebih dari 1000 Orang. <a href="https://turnbackhoax.id/2016/11/29/hoax-nusron-wahid-siap-diludahi-jika-peserta-aksi-212-lebih-dari-1000-orang/">Baca selengkapnya</a></p>
                <p>Pemerintah Stop Layanan KRL, MRT, LRT, dan Transjakarta di Jabodetabek Mulai 2 April 2020. <a href="https://covid19.go.id/artikel/2020/04/02/salah-pemerintah-stop-layanan-krl-mrt-lrt-dan-transjakarta-di-jabodetabek-mulai-2-april-2020">Baca selengkapnya</a></p>
                <p>Soda Kue Dicampur Madu Dapat Menyembuhkan Kanker. <a href="https://www.kominfo.go.id/content/detail/16407/hoaks-soda-kue-baking-soda-dicampur-madu-dapat-menyembuhkan-kanker/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Foto Mobil Esemka Berbahan Dasar Kayu. <a href="https://www.kominfo.go.id/content/detail/28080/hoaks-foto-mobil-esemka-berbahan-dasar-kayu/0/laporan_isu_hoaks">Baca selengkapnya</a></p>
                <p>Suara Sumbang Korona, Haruskah Dipenjara?. <a href="https://aptika.kominfo.go.id/2020/08/uu-ite-menjerat-ujaran-kebencian-berdasarkan-sara/">Baca selengkapnya</a></p>
                <p>Video Doa Imam Besar Masjidil Haram Mekah Assyeikh Sudais terhadap Musibah Virus Corona. <a href="https://www.kominfo.go.id/content/detail/27803/disinformasi-video-doa-imam-besar-masjidil-haram-mekah-assyeikh-sudais-terhadap-musibah-virus-corona/0/laporan_isu_hoaks">Baca selengkapnya</a></p>

            </div>
        </div>
    </div>

    <footer class="footer mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center text-black">
                        <b>Universitas Insan Pembangunan Indonesia</b> <br>
                        &copy; 2023 Hak Cipta Dwi ayu k. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>